.success-container {
    width: fit-content ;
    height: 45px;
    text-align: center;
    padding: 10px 20px; /*Espace autour du cadre */
    position: fixed;
    bottom: 20px;
    background-color: #f0fff1; /* Couleur de fond */
    border: 1px solid #2dc653;
    border-left: 3px solid #2dc653;
    border-radius: 5px;
    display:grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: 'icon1 text icon2';
    margin-left: 200px;
    z-index: 10 ;

  }
  
  .success-text {
    grid-area: text;
    font-size: 16px;
    color: #2dc653;
    margin-left: 20px;
    margin-right: 100px;
    /* text-align: center;
    margin-bottom: 5px; */
  }
  .success-icon{
    grid-area: icon1;
    color:#2dc653;
    width:25px; height: 25px;
  }

  .success-close{
    grid-area: icon2;
    color:#2dc653;
    width:20px; height: 20px;
    /* margin-left: px; */
    /* padding-left: 70px; */
    transition: 0.5s;
  }
  .success-close:hover{
    box-shadow: 0 0 2px;
    border-radius: 50%;
    cursor: pointer;
  }